html, body {
    margin: 0px;
    height: 100%;
    background-color: #EEEEFF;
}

#rung {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#r1 {
    font-size: 14vw;
    font-family: 'Alegreya', serif;
}

#r2 {
    font-size: 5vw;
    font-family: 'Alegreya', serif;
}

#stream {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

#speaker {
    display: none;
}
