<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Moarbell</title>
    <meta name="description" content="A doorbell for the Physical Web">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Alegreya:700' rel='stylesheet' type='text/css'>
    <script src="static/peer.js"></script>
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <audio autoplay="true" id="speaker"></audio>
    <div id="rung">
      <div id="r1">Doorbell rung!</div>
      <div id="r2">Resident will be right with you</div>
    </div>
    <script>
      var hash = '{{ server_rand }}'
      var peer = new Peer({
          host: 'moarbellpeers.herokuapp.com',
          secure: true,
          port: 443,
          debug: 3,
          key: 'peerjs'
      });
      var getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
      getUserMedia.call(navigator, {video: true, audio: true}, function(stream) {
          var call = peer.call('moarbell' + hash, stream);
          call.on('stream', function(remoteStream) {
            // Show stream in some video/canvas element.
            $('#speaker').prop('src', URL.createObjectURL(remoteStream));
          });
      }, function(err) {
          console.log('Failed to get local stream' ,err);
      });
    </script>
  </body>
</html>
