<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Moarbell</title>
    <meta name="description" content="A doorbell for the Physical Web">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="static/peer.js"></script>
  </head>
  <body>
    <video autoplay="true" id="stream"></video>
    <script>
      var hash = '{{ server_rand }}'
      var peer = new Peer('moarbell' + hash, {
          host: 'moarbellpeers.herokuapp.com',
          secure: true,
          port: 443,
          debug: 3,
          key: 'peerjs'
      });
      var getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
      peer.on('call', function(call) {
          getUserMedia.call(navigator, {video: false, audio: true}, function(stream) {
              new Audio('static/doorbell.mp3').play();
              call.answer(stream); // Answer the call with an A/V stream.
              call.on('stream', function(remoteStream) {
                  $('#stream').prop('src', URL.createObjectURL(remoteStream))
                              .fadeIn();
              });
              call.on('close', function(remoteStream) {
                  $('#stream').fadeOut();
              });
          }, function(err) {
              console.log('Failed to get local stream', err);
          });
      });
    </script>
  </body>
</html>
